body {
  background-color: #F0F0F0;
}

a {
  color: black;
}

.component-wrap {
  border: 1px solid #B8B8B8;
  background-color: white;
  border-radius: 4px;
  padding: 10px 40px 50px 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.component-wrap form > .btn-md {
  margin-top: 5px;
  margin-bottom: 5px;
}

.component-wrap form > .btn-lg {
  margin-top: 20px;
}

.btn-lg {
  margin-top: 20px;
}

.component-wrap h1 {
  padding-bottom: 10px;
}

.component-wrap form > label, input {
  margin-bottom: 5px;
}

.pollCard {
  position: relative;
}

.pollCard p {
  display: inline-block;
  float: left;
  margin-left: 5px;
}

.pollCard button {
  float: right;
  display: inline-block;
  margin-right: 5px;
}

.pollCard > .well {
  margin-bottom: 5px;
}

.graph {
  padding-top: 30px;
}

.social {
  position: relative;
  padding-top: 40px;
}

.social-button {
  display: inline-block;
  padding: 5px;
}
